#gameboard {
    display: grid;
    grid-template-columns: repeat(10, 45px); 
    grid-template-rows: repeat(10, 40px); 
    align-self: center;
}

#gameboard-container {
    flex-grow: 1;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameboard div {
    border: 1px solid black;
}

#gamebuttons {
    border: 1px solid black;
    display: flex;
    height: 50%;
    gap: 10px;
    justify-content: center;
}

.button {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: pink;
    color: black;
    text-align: center;
    font-size: 150%;
}


#ship-container {
    display: flex;
    border: 1.25px solid purple;
    gap: 10px;
    height: 40%;
    justify-content: center;
}

.ship {
    display: flex;    
    /* border: 1.25px solid purple; */
}

#Start {

}

#Rotate {
    
}

.rotate {
    flex-direction: column;
}

 .ship div {
    border: 1px solid black;

 }



#ship-one {
}

#ship-two  {
}

#ship-three  {

}

#ship-four {
}

#ship-five  {
}

.ship div {
    height: 35px;
    width: 50px;
}