#gameboard {
    display: grid;
    grid-template-columns: repeat(10, 50px); 
    grid-template-rows: repeat(10, 50px); 
    border: 1px solid yellow;
    align-self: center;
}

#gameboard-container {
    flex-grow: 1;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}

#gameboard div {
    border: 1px solid black;
}

#gamebuttons {
    border: 1px solid black;
    display: flex;
    height: 15%;
    gap: 10px;
    justify-content: center;
}

.button {
    border: 1px solid black;
    height: 35%;
    width: 10%;
    background-color: pink;
    color: black;
    text-align: center;
    font-size: 150%;
}


#ship-container {
    display: flex;
    border: 1.25px solid purple;
    gap: 10px;
    height: 10%;
    justify-content: center;
}

.ship {
    display: grid;
    
}

 .ship div {
    border: 1px solid black;
 }



#ship-one {
    grid-template-columns: repeat(2, 50px); 
    grid-template-rows: repeat(2, 50px); 
}

#ship-two  {
    grid-template-columns: repeat(3, 50px); 
    grid-template-rows: repeat(3, 50px); 

}

#ship-three  {
    grid-template-columns: repeat(3, 50px); 
    grid-template-rows: repeat(3, 50px); 

}

#ship-four {
    grid-template-columns: repeat(4, 50px); 
    grid-template-rows: repeat(4, 50px); 
}

#ship-five  {
    grid-template-columns: repeat(5, 50px); 
    grid-template-rows: repeat(5, 50px); 
}